
.vs/ProyectoDeportivoCR/FileContentIndex/372c6705-826a-4a85-8589-e57501df423d.vsidx
.vs/ProyectoDeportivoCR/FileContentIndex/43aed37e-7562-42a6-b53d-dabcd0b27c84.vsidx
.vs/ProyectoDeportivoCR/FileContentIndex/9a9d2531-3c20-4124-bddf-71e0b696c2ab.vsidx
.vs/ProyectoDeportivoCR/FileContentIndex/aabff7a9-0640-42dd-9374-072bc2de8847.vsidx
.vs/ProyectoDeportivoCR/FileContentIndex/e40468e4-54e5-425e-832d-a030aeef7746.vsidx
