
.vs/ProyectoDeportivoCR/FileContentIndex/372c6705-826a-4a85-8589-e57501df423d.vsidx
.vs/ProyectoDeportivoCR/FileContentIndex/43aed37e-7562-42a6-b53d-dabcd0b27c84.vsidx
.vs/ProyectoDeportivoCR/FileContentIndex/9a9d2531-3c20-4124-bddf-71e0b696c2ab.vsidx
.vs/ProyectoDeportivoCR/FileContentIndex/aabff7a9-0640-42dd-9374-072bc2de8847.vsidx
.vs/ProyectoDeportivoCR/FileContentIndex/e40468e4-54e5-425e-832d-a030aeef7746.vsidx
.vs/ProyectoDeportivoCR/FileContentIndex/efea4c8d-712f-4077-8e28-db33fc7bdea9.vsidx
.vs/ProyectoDeportivoCR/FileContentIndex/1f467698-cf7c-4856-a273-c006971624fc.vsidx
.vs/ProyectoDeportivoCR/FileContentIndex/80ff5a6f-9f6e-4383-930e-a2914c6265df.vsidx
.vs/ProyectoDeportivoCR/FileContentIndex/b43d0560-dd0f-4682-8c82-7ba4cdd1fa25.vsidx
.vs/ProyectoDeportivoCR/v17/.suo
.vs/ProyectoDeportivoCR/v17/DocumentLayout.backup.json
.vs/ProyectoDeportivoCR/v17/DocumentLayout.json
ProyectoDeportivoCR/bin/Debug/net8.0/ProyectoDeportivoCR.staticwebassets.runtime.json
ProyectoDeportivoCR/obj/Debug/net8.0/staticwebassets.build.json
ProyectoDeportivoCR/obj/Debug/net8.0/staticwebassets.development.json
ProyectoDeportivoCR/obj/Debug/net8.0/staticwebassets.pack.json
ProyectoDeportivoCR/obj/Debug/net8.0/staticwebassets/msbuild.ProyectoDeportivoCR.Microsoft.AspNetCore.StaticWebAssets.props
.vs/ProyectoDeportivoCR/FileContentIndex/42270aeb-fa62-4852-bfd2-9d1db9b2f8f6.vsidx
*.vsidx
